<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Nela App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
    
    
    <div class="left-side">
      <img src="assets/nela_main.jpg" alt="Nela photo" class="nela-photo">
      <h1>Hello, {{ name }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <p>Your birth date is: {{ dateOfBirth | date: 'dd/MM/yyyy' }}</p>
    </div>


<router-outlet />
