.nela-photo {
  width: 150px;
  height: 150px;
}

.example-spacer {
  flex: 1 1 auto;
}

.menu-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  vertical-align: middle;
}

.app-button {
  display: flex;
  align-items: center;
  text-transform: none;
}

.app-title, 
.important-word {
  font-weight: bold;
}

.right-button {
  text-transform: none;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  padding: 20px;
}

.left-column, .right-column {
  flex: 1;
  padding: 20px;
}

.left-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image-text-container {
  display: flex;
  align-items: center;
}

.content-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.content-title {
  font-size: 24px;
  font-weight: bold;
}

.mat-toolbar {
  background-color: #fbcbe1;
}

mat-divider.responsive-divider {
  height: 80%;
  align-self: center;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  .main-content {
    flex-direction: column; /* Zmiana na kolumnę na mniejszych ekranach */
  }

  .left-column {
    justify-content: center; /* Wyśrodkowanie w pionie na mniejszych ekranach */
  }

  .image-text-container {
    flex-direction: column;
    align-items: center;
  }

  mat-divider.responsive-divider {
    width: 80%; /* Zmiana szerokości dividera na horyzontalny */
    height: 1px; /* Zmiana wysokości dividera na horyzontalny */
    margin: 20px 0; /* Dodanie odstępów dla lepszej widoczności */
  }
}
