<main class="main">
  <div class="content">
    <div class="left-side">
      <img src="assets/nela_main.jpg" alt="Nela photo" class="nela-photo">
      <h1>Hello, {{ name }}</h1>
      <p>Congratulations! Your app is running. 🎉</p>
      <p>Your birth date is: {{ dateOfBirth | date: 'dd/MM/yyyy' }}</p>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="pill-group">
xxx
      </div>

    </div>
  </div>
</main>


<router-outlet />
